<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Gym_desktop.Properties.Settings.GYMConnectionString"
            connectionString="Data Source=DEFARREL;Initial Catalog=GYM;Persist Security Info=True;User ID=sa;Password=defarrel13."
            providerName="System.Data.SqlClient" />
        <add name="Gym_desktop.Properties.Settings.GYMConnectionString1"
            connectionString="Data Source=DEFARREL;Initial Catalog=GYM;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>